@import url(http://fonts.googleapis.com/css?family=Open+Sans:300|Oswald:300);

body {
	font-family: 'Open Sans', 'Helvetica Neue Light', sans-serif;
	font-weight: 300;
}

h1,h2,h3 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-weight: 700;
}

h2,h3 {
	font-weight: 300;
}

main {
	padding: 20px 0;
}

.vr {
	display: inline;
	margin: 0.5em 0px;
	width: 1px;
	height: 1em;
	border-left: 1px solid gray;
}

section#header-sm .title h1,h2 {
	display: inline;
	padding-right: 20px;
}

section#header-sm img {
	width: 4em;
	height: 4em;
}

section#header-xs img {
	padding: 20px;
}

section#skills .details {
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	column-count: 2;
	column-gap: 0px;
}

.details h4 {
	margin-top: 20px;
	margin-bottom: 5px;
}
.date {
	font-size: 15px;
	line-height: 24px;
}
.website {
	line-height: 18px;
}
